label {
  color: white;
}

#tv {
     position: relative;
     width: 200px;
     height: 150px;
     margin: 20px 0;
     background: red;
     border-radius: 50% / 10%;
     color: white;
     text-align: center;
     text-indent: .1em;
     overflow:  scroll;
   }

.container {
  background: url('../img/roboto.gif');
  height: 50rem;
  width: 50rem;
  background-repeat: no-repeat;
}
